.app.dark {
  --bg-color: #010164;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #049604;
  --secondary-color: #04ff04;
  --inverted-primary-color: #1e00de;
  --inverted-secondary-color: #838dff;
}
