:root {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #010164;

  --primary-color: #1e00de;
  --secondary-color: #838dff;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
}
